name: Testing on .NET Core

on:
  push:
    branches: [ master, hunamizawa/develop ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

    steps:
    - uses: actions/checkout@v2
    - name: Setup .net core 2.1.810
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.810
    - name: Setup .net core 3.1.402
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.402
    - name: .net SxS
      run: |
        rsync -a ${DOTNET_ROOT/3.1.402/2.1.810}/* $DOTNET_ROOT/
    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Test
      run: dotnet test --no-build --configuration Release
